# Flutter/Dart specific
.vscode/*
**/build/
.dart_tool/
.idea/
.pub/
.pub-cache/
build/
ios/Pods/
macos/Pods/
web/packages/
web/flutter_service_worker.js
web/flutter_service_worker.js.map
web/flutter_service_worker.dart.js
web/flutter_service_worker.dart.js.map
android/gradle.properties
android/gradle-local.properties
*.iml
/.android/Flutter/build.log
/.android/Flutter/build-cache
/.android/Flutter/.flutter-plugins
/.android/Flutter/.flutter-plugins-dependencies
/.android/Flutter/.dart_tool
/.android/Flutter/.pub-cache
/.android/Flutter/.pub
/.android/Flutter/.metadata

# Ignore generated JavaScript files
*.dart.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
.cxx/
